[33mcommit 01c04c3f53acf761fd5e2989e6900a93788888f1[m[33m ([m[1;36mHEAD[m[33m -> [m[1;32mmain[m[33m, [m[1;31morigin/main[m[33m)[m
Author: princeQ15 <princeQ15@users.noreply.github.com>
Date:   Sun Dec 14 23:26:29 2025 +0530

    Refactor: Improve project structure and documentation

[33mcommit 2c03ee91fa1a30e2265a2c7f969c64d08c015655[m
Author: princeQ15 <princeQ15@users.noreply.github.com>
Date:   Sun Nov 30 19:55:08 2025 +0530

    feat: Add delivery location and time tracking functionality

[33mcommit e50060743eb53f44f9616dc13dced27d0cfb05f3[m
Author: princeQ15 <princeQ15@users.noreply.github.com>
Date:   Sun Nov 30 19:18:23 2025 +0530

    Initial commit: Project setup with basic functionality

[33mcommit 2ef3631df3c0a527e1a0188776819244ddb54bb7[m
Author: princeQ15 <princeQ15@users.noreply.github.com>
Date:   Sun Nov 30 19:02:51 2025 +0530

    Add .gitignore file

[33mcommit b857e61c7d8fa1245795be6b81ebc3e4c08a9147[m
Author: princeQ15 <princeQ15@users.noreply.github.com>
Date:   Sun Nov 30 17:24:43 2025 +0530

    Initial commit
